<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bootStrap-admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style-admin.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.css">
</head>
<body class="bg-light">

<!---------------------------------------------------------NAVBAR START--------------------------------------------------------------------------------->
{{>userpanel/userpanel-navbar}}
<!------------------------------------------------------------------------------------------------------------------------------------------>
{{>userpanel/userpanel-nav}}
<!-- --------------------------------------------------------END SIDEBAR----------------------------------------------------------------------------------->

{{{body}}}



<script src="/js/admin/jquery.js"></script>
<script src="/js/admin/popper.js"></script>
<script src="/bootStrap-admin/js/bootstrap.min.js"></script>
<script src="/js/admin/Chart.min.js"></script>
<script src="/js/admin/script.js"></script>
</body>

</html>