<div class="bg">
    <div class="container" dir="rtl">
        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card">

                    <div class="card-body alignR">
                        <ul> <a href="moshaver.html"> صفحه اصلی </a></ul>
                        <ul> ارتباط با ما</ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3 mr-10">
                <div class="card">

                    <div class="card-body alignR">
                        <p>
                            این وبسایت صرفا یک وبسایت دمو جهت پروژه دانشگاهی و فاقد هر گونه ارزش و اعتبار دیگر است

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
