<!doctype html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
   <link rel="stylesheet" href="/../css/styleLogin.css">
</head>
<body>
<div>
    <div style="direction: rtl;">
        <div >
            <div class="content">
                <h2 style="text-align: right;">ثبت نام</h2>
                 <form action="/addUser" method="post"  >
                    <div class="form-group">
                        <input name="name" type="String" id="name" placeholder="نام و نام خانوادگی" />
                    </div>
                    <div class="form-group">
                        <input name="email" type="String" id="mail" placeholder="ایمیل" />
                    </div>
                    <div class="form-group">
                        <input name="password" type="String" id="password" placeholder="رمز عبور " />
                    </div>

                    <div class="form-group">
                        <input name="number" type="String" id="number" placeholder=" شماره موبایل" />
                    </div>

                    <button type="submit" > ثبت نام</button>
                 </form>
            </div>
        </div>


<!--        <div class="right">-->
<!--            <div class="content">-->
<!--                <h2 style="text-align: right;" >ورود</h2>-->
<!--                <form action="/routes/home/login" method="post" onsubmit="return false;">-->
<!--                    <div class="form-group">-->
<!--                        <input name="email" type="email" id="email" placeholder="آدرس ایمیل" />-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input name="pass" type="password" id="pass" placeholder="رمز عبور" />-->
<!--                    </div>-->
<!--                    <button id="goRight" ctlass="off">ثبت نام</button>-->
<!--                    <button id="login" type="submit">ورود</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>


<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="/../js/jsLogin.js"></script>-->

</body>

</html>