<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-5 col-sm-4 col-md-1 bg-dark collapse show position-fixed">

            <ul class="nav d-flex flex-column pr-0 ">

                <li class="nav-item my-1"><a href="/user/userpanel" class="nav-link">
                    <i class="fas mr-3 fa-globe-asia"></i>
                    صفحه کاربری
                </a></li>

                <li class="nav-item my-1"><a href="/user/userpanel/request" class="nav-link">
                    <i class="fas mr-3 fa-store"></i>
                    ارسال درخواست مشاوره
                </a></li>


                <li class="nav-item my-1"><a href="/user/userpanel/receive" class="nav-link">
                    <i class="fas mr-3 fa-user-md"></i>
                  صندوق پیام ها
                </a></li>

                <li class="nav-item my-1"><a href="#" class="nav-link">
                    <i class="fas mr-3 fa-user-md"></i>
                    شکایت
                </a></li>



            </ul>
        </div>
    </div>
</div>