<div class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-5 col-sm-4 col-md-1 bg-dark collapse show position-fixed">

            <ul class="nav d-flex flex-column pr-0 ">

                <li class="nav-item my-1"><a href="/admin" class="nav-link">
                    <i class="fas mr-3 fa-globe-asia"></i>
                    پیشخوان
                </a></li>

                <li class="nav-item my-1"><a href="#" class="nav-link">
                    <i class="fas mr-3 fa-store"></i>
                    فروش
                </a></li>


                <li class="nav-item my-1"><a href="/admin/advisor/addadvisor" class="nav-link">
                    <i class="fas mr-3 fa-user-md"></i>
                    افزودن
                </a></li>

                <li class="nav-item my-1"><a href="/admin/advisor" class="nav-link">
                    <i class="fas mr-3 fa-user-md"></i>
                    مشاورین
                </a></li>



                <li class="nav-item my-1"><a href="/admin/users" class="nav-link">
                    <i class="fas mr-3 fa-user-friends"></i>
                    کاربران
                </a></li>

                <li class="nav-item my-1"><a href="#" class="nav-link">
                    <i class="fas mr-3  fa-balance-scale"></i>
                    شکایات

                </a></li>

                <li class="nav-item my-1"><a href="#" class="nav-link">
                    <i class="fas mr-3 fa-sliders-h"></i>
                    تنظیمات

                </a></li>


            </ul>
        </div>
    </div>
